.back-img {
  background-image: url("https://pixabay.com/get/57e8d1434e56ac14f6d1867dda353678143fdee05559794b_1920.jpg");
  background-repeat:no-repeat;
  height:100%;
  width:100%;
  margin: 0;
  overflow: hidden;
}

.vh-80{
  heigh: 80vh;
}
